<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>uk.co.zarino.iphonestockcheck</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/zarinozappia/repos/iphone-stock-check/check.sh</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/Users/zarinozappia/repos/iphone-stock-check/stderr.log</string>
    <key>StandardOutPath</key>
    <string>/Users/zarinozappia/repos/iphone-stock-check/stdout.log</string>
    <key>StartInterval</key>
    <integer>600</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>AbandonProcessGroup</key>
    <true/>
</dict>
</plist>